<%= form_for([current_user,@profile,@education]) do |f| %>
  
<div class="form-group">
  <div class="row">
    <div class="col-md-4">
      <p class="field-title">College/University</p>
      <%= f.text_field :college %>
    </div>
    
    <div class="col-md-2">
      <p class="field-title">Degree</p>
      <%= f.text_field :degree %>
    </div>
    
    <div class="col-md-3">
      <p class="field-title">Field of Study</p>
      <%= f.text_field :field %>
    </div>
    
    <div class="col-md-3">
      <p class="field-title">Graduation Year</p>
      <%= f.select :graduation_year, (2000..Time.now.year).to_a %>
    </div>
  </div>
</div>

<div class="form-group" style="margin-bottom: 22px;">
  <div class="row">
    <div class="col-md-2">
      <p class="field-title"></p>
        <%= f.submit "Add",:class=>"change-avatar profile-button" %>
    </div>
  </div>
</div>

<% end %>