<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Location</th>
      <th>Phone</th>
      <th>Skills</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.email %></td>
        <td><%= profile.location %></td>
        <td><%= profile.phone %></td>
        <td><%= profile.skills %></td>
        <td><%= profile.user_id %></td>
        <td><%= link_to 'Show', [current_user,profile] %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(current_user,profile) %></td>
        <td><%#= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Profile', new_profile_path %>
